*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    z-index: 10;
    
}

.Descuentos{
    background-color: #1CD1B0;
    padding: 1vw;
    font-size: 80%;
    font-weight: 500;
}

.Titulo{
    background-color: #00669F;
    padding: 1.5vw 1.5vw 1.5vw 3vw;
}

.titulo-sup h1{
    font-size: 190%;
    font-weight: 610;
}

main{
    padding: 0 1vw 0 1vw;
}


.cont-cards{
   padding: 5% 0%;
}


.card1{
    display: inline-block;
    text-align: center;
    width: 30vw;
    position: relative;
    top: -1px;
    margin: 1% 1% 1% 1% ;
}
 .F_harley{top: 200px;
padding-top: 0%;}

.card-head{
   position: relative;
   padding: 0px;
}


.icono{
    position: absolute;
    z-index: 4;
    top: -64px;
    left: 25%;
    border-radius: 60%;
    top: 50%;
    height: 75%;
}

.corazon{
    position: absolute;
    top: 5%;
    left: 2%;
}

.card-text {
    padding: 25% 7% 10% 7%;
    background-color: #f3f3f3; 
    position: relative;
    top: -5px;
}

.card-text h5{
    margin: 0% 3% 5% 3%;
    font-weight: 500;
    font-size: 110%;
}

.card-text p{
    font-size: 80%;
    margin-bottom: 10%;
}


button{
    background-color: #00669F;
    color: white;
    font-size: 80%;
    padding: 5% 7% ;
}

footer{
    color: white;
    background-color: #00669F;
    margin-top: 10px;
    padding: 1.5vw 1.5vw 1.5vw 3vw;
    font-weight: 400;
    font-size: 80%;
}